body{
	background-color:tan;

}
h1{
	color:darkgreen;	
}	
h3{
	color:darkgreen;
	font-size:20px;
}

h2{
	color:yellow;
	font-weight:bold;
	font-size:22px;
	color:yellow;
}
.boldClass{
	font-weight:bold;
	font-size:22px;
	font-family:"arial";
	color:darkslateblue;
}
#bigID{
	font-size:24px;
	color:saddlebrown;
}

tab
a{
	font-size:18px;
	font-family:"arial";
	color:darkgreen;
}

p{
	font-family:"Arial";
	color:darkgreen;
}

p1{
	font-family:"Arial";
	color:saddlebrown;
}

p2{
	font-family:"Arial";
	color:saddlebrown;
}

.photospacer{
	padding-left: 90px;
	padding-right: 90px;
}

.photospacer2{
	padding-left: 105px;
	padding-right: 120px;
}

.photospacer22{
	padding-left: 120px;
	padding-right: 120px;
}

.photospacer3{
	padding-left: 0px;
	padding-right: 95px;
}
.tablespacer{
	margin-left: 125px;
	margin-right: 125px;
}

td{
	font-family: "arial";
	font-size: 18px;
	color:saddlebrown;
}

.listspacer{
	padding-left: 50px;
}

.listspacer1{
	padding-left: 50px;
}

.listspacer2{
	padding-left: 50px;
}

.movedownvertical{
	padding-top: 200px;
}

.journey{
	color:darkslateblue;
	font-size: 16px;
	padding:14px;    
	text-decoration:none;    
	float:left;
	margin-left: 500px;
}
    
.family{
	color:darkslateblue;
	font-size: 16px;
	padding:14px;    
	text-decoration:none;    
	float:left;
}

.hobbies{
	color: darkslateblue;
	font-size: 16px;
	padding:14px;    
	text-decoration:none;    
	float:left;
}
.destination{
	color:darkslateblue;
	font-size: 16px;
	padding:14px;    
	text-decoration:none;    
	float:left;
}