body{
	background-color:black;

}
h1{
	text-shadow: 5px 5px 10px papayawhip;
	color:blue;
}
h3{
	color:yellow;
}

p{
	color:yellow;
	font-weight:bold;
	font-size:16px;
	font-family: "arial";	
	color:fuchsia;

}

.indexpushmargin{
	padding-right: 350px;
	padding-left: 350px;
}
.boldClass{
	font-weight:bold;
	font-size:22px;
	font-family:"Georgia";
	color:Fuchsia;
}
#bigID{
	font-size:24px;
}

a{
	font-size:18px;
	font-family:"Arial";
	color:aqua;
}

.journey{
	color:steelblue;
	padding:14px;    
	text-decoration:none;    
	float:left;
	margin-left: 500px;
}
    
.family{
	color:steelblue;
	padding:14px;    
	text-decoration:none;    
	float:left;
}

.hobbies{
	color: steelblue;
	padding:14px;    
	text-decoration:none;    
	float:left;
}
.destination{
	color:steelblue;
	padding:14px;    
	text-decoration:none;    
	float:left;
}