body{
	background-color:black;

}
h1{
	color:blue;
}
h3{
	color:yellow;
}

h2{
	color:yellow;
	font-weight:bold;
	font-size:22px;
	color:yellow;
}
.boldClass{
	font-weight:bold;
	font-size:22px;
	font-family:"Georgia";
	color:Fuchsia;
}
#bigID{
	font-size:24px;
}

a{
	font-size:18px;
	font-family:"Arial";
	color:aqua;
}